.footer {
  background-color: #383c42;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.depend_item {
  margin-right: 1rem;
}

.depend_item img {
  width: 32px;
  height: 32px;
}

.depend_item:last-child {
  margin-right: 0;
}

.copyright_text {
  padding: 2rem 0 0 1rem;
  text-align: center !important;
}
