.card_img_vert {
  margin-top: auto;
  height: 100%;
}

@media (max-width: 768px) {
  .card_img_vert {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .card_img_vert {
    width: 70% !important;
  }
}
