.section {
  padding: 4rem 2rem 2rem 2rem;
  min-height: 100vh;
}

.bg_wh {
  background-color: #ffffff;
  color: #383c42;
}

.bg_gr {
  background-color: #e9eaec;
  color: #2f3337;
}

.bg_pr {
  background-color: #dfebf6;
  color: #1c3e5f;
}

.header {
  padding: 1rem 0;
}

.paragraph {
  text-indent: 1rem;
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 0.5rem 0.5rem 0.5rem;
  }
}
