@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono, sans-serif;
  font-size: small;
  background-color: #f2f6f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.navbar-my {
  background-color: #afbfd5;
  color: #3a506b !important;
  font-size: 1.25rem;
}

.navbar-my .active {
  color: #0b132b !important;
}

.navbar-my .nav-item:hover a {
  color: #0b132b !important;
}
