.header {
  padding-top: 6rem;
  background-color: #323031;
  color: #fff;
}

.section {
  padding: 2rem 1rem;
}

.footer {
  background-color: #323031;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.social_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social_link_item {
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background-color: white;
  border-radius: 1rem;
  margin-right: 1rem;
}

.social_link_item:hover {
  cursor: pointer;
}

.social_link_item:last-child {
  margin-right: 0;
}

.social_link_item a {
  font-size: 1.5rem;
  color: gray;
}

.social_link_item:hover > a {
  color: black;
}

.text_digit {
  font-family: VT323;
  font-size: 4rem;
  text-align: center !important;
}
